---
import "@tailwind";
import data from '@data';
import BorderLayout from "@components/BorderLayout.astro";

const { primer_nombre, segundo_nombre } = data;
const nombre_completo = `${primer_nombre} ${segundo_nombre}`;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mis 15 años | { nombre_completo }</title>
	</head>
	<body class="font-content">
		<BorderLayout />
		<slot />
	</body>
</html>
